.navbar {
  background-color: #007bff;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 20px;
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.navLinks {
  display: flex;
  gap: 20px;
}

.navLinks a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.navLinks a:hover {
  text-decoration: underline;
}

.welcome {
  color: white;
  margin-right: 15px;
  
}
.userButton {
  background-color: #66b3ff;
  color: white;
  font-weight: bold;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.userButton:hover {
  background-color: #3399ff;
}

.logoutButton {
  background-color: #ff4d4d;
  color: white;
  font-weight: bold;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.logoutButton:hover {
  background-color: #cc0000;
}