.container {
  margin-top: 50px;
  text-align: center;
}

.infoBox {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  max-width: 500px;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.userInfo {
  margin-bottom: 20px;
  font-size: 16px;
}

.logoutButton {
  padding: 10px 20px;
  font-weight: bold;
  background-color: #007bff;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.logoutButton:hover {
  background-color: #0056b3;
}
